html {
  scroll-behavior: smooth;
}

body {
  background-color: #e5e5e5;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.fa-angle-up {
  all: unset;
  display: none;
  visibility: hidden;
}

.scrollActive {
  position: fixed;
  bottom: 50px;
  right: 20px;
  border-radius: 40%;
  background-color: #075cfa;
  color: white;
  padding: 10px 12px;
  text-align: center;
  transition: 0.5s;
  display: inline;
  visibility: visible;
}

header {
  height: 72px;
  padding-top: 15px;
  background-color: white;
  margin: 0;
}

.menu-space {
  position: fixed;
  top: 0.8rem;
  right: 1.8rem;
  display: none;
  background-color: #6070ff;
  color: white;
  border-radius: 1rem;
}

/* #close_icon, */
#popUpClose {
  float: right;
  padding: 20px;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  float: left;
  padding: 3px;
}

a {
  text-decoration: none;
}

nav a {
  color: #344563;
  text-decoration: none;
  margin: 9px;
  display: none;
  transition: 1s ease-in;
}

.logo a {
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  background-color: #6070ff;
}

/* here due to linters */
.menu-space a {
  margin: 10px;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
}

nav a:hover {
  /* color: #075cfa; */
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #075cfa;
}

#menu {
  float: right;
  padding-right: 0.6rem;
  color: #075cfa;
  font-size: 22px;
}

#popUpSpace {
  display: none;
  border: 1px solid rgb(104, 103, 103);
  width: 80%;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin: 50px 20px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

#popUpSpace img {
  border-radius: 8px;
  width: 100%;
}

#popUpBtn1,
#popUpBtn2 {
  margin: 10px;
  padding: 10px;
}

.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#popUpSpace .fa-github,
.fa-external-link {
  margin: 3px;
  font-size: 16px;
}

.intro {
  color: #091e42;
  line-height: 35px;
  font-size: 35px;
  width: 210px;
}

.hero-section {
  margin-top: 0;
  border-bottom-left-radius: 25% 45px;
  background-color: white;
  /* background-image: url(../Assets/header-bg-mobile.png); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  padding: 70px 30px;
  display: flex;
  flex-direction: column;
}

.hero-section > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section > div:nth-of-type(2) {
  padding: 2rem;
}

.hero-section > div > img {
  width: 50%;
}

.interact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.description {
  color: #344563;
  font-style: normal;
}

.connect {
  font-style: normal;
  font-weight: 500;
  color: #5461d2;
}

ul {
  list-style: none;
  display: flex;
}

.interact li {
  margin: 3px;
  transform: translateX(-40px);
}

.social span {
  color: #505f79;
  font-size: 15px;
}

.social span:hover {
  color: #075cfa;
  font-size: 16px;
}

.social {
  display: flex;
}

/* work section */
.works-container {
  display: flex;
  flex-direction: column;
  padding: 70px 24px;
}

.work-item {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-top: 70px;
}

.work-card {
  border-radius: 8px;
  width: 100%;
}

.pale-info-container {
  display: flex;
  flex-direction: row;
}

.pop-up-ul {
  transform: translateX(-42px);
}

.pale-info-container > li {
  list-style-type: none;
  padding: 2px 10px;
  background: #ebebff;
  border-radius: 8px;
  margin-right: 10px;
  color: rgb(64, 64, 192);
  font-size: 11px;
}

.action {
  margin-top: 8px;
  padding: 3px 10px 2px 1px;
}

.see-project :hover {
  background-color: blue;
  color: white;
}

.see-project {
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  padding: 6px;
  color: #505dd5;
  transition: 3ms;
}

.about-section {
  font-family: 'poppins', sans-serif;
  background-color: white;
  border-top-right-radius: 25% 45px;
  padding: 70px 24px;
  display: flex;
  flex-direction: column;
}

.for-space {
  padding: 20px 1px;
}

.main-list {
  display: block;
  width: 100%;
}

.skill-headline {
  display: grid;
  grid-template-columns: auto 30px;
}

.skill-headline .icon {
  margin-top: 22px;
  width: 20px;
  cursor: pointer;
}

.skill-item ul {
  display: grid;
  grid-template-rows: auto auto auto;
  font-size: 15px;
  color: #253858;
  padding-left: 0.1px;
  transform: translateY(0px);
  transition: all 1s ease-in-out;
}

.skill-item ul li {
  background: #f7f7f9;
  border-radius: 8px;
  padding: 10px;
}

.skill-logo {
  display: inline-block;
  width: 35px;
}

#js-logo {
  width: 50px;
  transform: translateX(-7px);
}

#css-logo {
  width: 41px;
  transform: translateX(-2px);
}

.skill-text {
  transform: translateY(-12px);
  display: inline-block;
}

#skill-text-special_1 {
  padding-left: 6.3%;
}

#skill-text-special_2 {
  padding-left: 5.3%;
}

.contact {
  background: url(../Assets/contactform.png);
  padding: 100px 24px;
  background-color: #6070ff;
  border-top-left-radius: 25% 45px;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

#popUpSpace h1 {
  font-size: 18px;
}

.contact p {
  width: 300px;
  color: #ebebff;
  font-size: 20px;
  line-height: 28px;
  /* font-weight: 600; */
}

form {
  display: flex;
  flex-direction: column;
}

.contact input {
  height: 30px;
  width: 290px;
  border-radius: 8px;
  margin-top: 15px;
  padding: 10px;
  border: 0.1px;
}

.contact textarea {
  margin-top: 15px;
  height: 170px;
  width: 290px;
  border-radius: 8px;
  padding: 10px;
}

.error {
  margin-top: 10px;
  color: #f80000;
  font-size: 13px;
  font-weight: 600;
}

.contact .btn {
  height: 48px;
  width: 140px;
  border-radius: 8px;
  color: #5766ea;
  line-height: 24px;
  font-size: 17px;
  letter-spacing: 3%;
  text-align: center;
  font-weight: 500;
  background-color: white;
}

.contact-ellipse {
  transform: translateX(220px) translateY(-62px);
}

.contact-rectangle {
  transform: translateX(180px) translateY(-67px);
}

/* for Desktop */
@media (min-width: 992px) {
  header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero-section {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    background-color: white;
  }

  .hero-section > div > img {
    width: 100%;
  }

  .menu-space {
    visibility: hidden;
  }

  .links {
    display: flex;
    flex-direction: row;
    width: fit-content;
  }

  #menu {
    display: none;
  }

  nav a {
    display: block;
  }

  #popUpSpace {
    transform: translateX(30%);
    width: 55%;
  }

  #popUpBelow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #popUpLast {
    display: flex;
    flex-direction: column;
  }

  .intro {
    width: max-content;
  }

  .work-item {
    display: flex;
    flex-direction: row;
    margin: 60px 40px;
    line-height: 22px;
  }

  .work-item:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .work-card {
    width: 55%;
    margin-right: 20px;
  }

  .work-item:nth-child(odd) .work-card {
    margin-left: 20px;
    margin-right: 1px;
  }

  .work-item img:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 1px 1px rgb(136, 135, 135);
  }

  button:hover {
    background-color: #6070ff;
    color: white;
    transition: 600ms;
  }

  .btn:hover {
    width: 144px;
    height: 50px;
    transition: 250ms ease-out;
    border: 1px solid black;
  }

  .skill-item ul {
    grid-template-columns: 120px 120px 120px;
    text-align: left;
  }

  .skill-item ul li {
    margin: 7px;
  }

  .skill-logo {
    width: 40px;
  }

  #css-logo {
    width: 45px;
  }

  #js-logo {
    width: 60px;
  }

  #skill-text-special_1,
  #skill-text-special_2 {
    padding-top: 15px;
  }

  .skill-text {
    display: block;
    padding-top: 10px;
  }

  .about-section {
    display: grid;
    grid-template-columns: 45% 40%;
    column-gap: 20px;
    padding: 100px 60px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(../Assets/contact-bg.png);
  }

  .contact-ellipse,
  .contact-rectangle {
    display: none;
  }
}
