section {
  display: flexbox;
  transform: translateY(30%);
  padding: 100px;
}

header {
  position: absolute;
  width: 100%;
  height: 72px;
}
.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #6070ff;
}

nav a {
  width: 63px;
  height: 20px;
  left: 12px;
  top: 10px;
  color: #344563;
  text-decoration: none;
  margin: 9px;
}

nav a:hover {
  color: #075cfa;
}
.intro {
  font-style: normal;
  font-weight: bold;
  line-height: 60px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.description {
  color: #344563;

  font-style: normal;
  font-weight: normal;
}

.connect {
  font-style: normal;
  font-weight: 500;
  color: #7f8cff;
}

.social span {
  color: #505f79;
  font-size: 15px;
}
.social span:hover {
  color: #075cfa;
  font-size: 16px;
}

/* For desktop screen */
@media (min-width: 900px) {
  body {
    width: 100%;
    background: #ffffff;
    text-align: center;
    margin: 0;
  }

  .logo {
    position: absolute;
    left: 10%;
    top: 10px;
    font-size: 18px;
  }

  nav {
    position: absolute;
    left: 60%;
    top: 15px;
  }

  #menu {
    display: none;
  }

  .intro {
    position: static;
    width: 920px;
    height: 122px;
    left: 0px;
    top: 0px;
    font-size: 48px;
    letter-spacing: 0.37px;
  }

  .description {
    position: static;
    width: 920px;
    height: 98px;
    left: 0px;
    top: 134px;
    font-size: 20px;
    line-height: 28px;
  }

  .connect {
    width: max-content;
    height: 24px;
    font-size: 16px;
    display: flex;
  }

  .social {
    position: absolute;
    width: 170.17px;
    height: 20px;
    left: 70px;
    top: 460px;
  }
}

.deep_right {
  position: absolute;
  width: 204px;
  height: 204px;
  left: 1080px;
  top: 92px;
}

.light_right {
  position: absolute;
  width: 204px;
  height: 87px;
  left: 1000px;
  top: 61px;
  transform: rotate(-15deg);
}

.deep_left {
  position: absolute;
  width: 80.48px;
  height: 50.24px;
  left: 90.2px;
  top: 60.68px;
  transform: rotate(5deg);
  z-index: 100;
}

.light_left {
  position: absolute;
  width: 108.67px;
  height: 59.44px;
  left: 35.6px;
  z-index: 0;
  top: 28.92px;
  transform: rotate(-25deg);
}

.roll_ball {
  position: absolute;
  width: 47px;
  height: 47px;
  left: 720px;
  top: 749px;
}

.roll_bar {
  position: absolute;
  width: 161.41px;
  height: 68.87px;
  left: 605.44px;
  top: 750px;
  transform: rotate(7deg);
}

.bowl {
  position: absolute;
  width: 36.9px;
  height: 18.45px;
  left: 250.7px;
  top: 817.93px;
  transform: rotate(10deg);
}

.hook {
  position: absolute;
  width: 46px;
  height: 46px;
  left: 226.06px;
  top: 830.37px;
  transform: rotate(0deg);
}

.ball {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 580px;
  top: 105px;
}

.bar {
  position: absolute;
  width: 56.01px;
  height: 20.02px;
  left: 567.25px;
  top: 87.57px;
}

@media (max-width: 900px) {
  #menu {
    display: block;
    color: #075cfa;
    float: right;
    margin-right: 10px;
    padding: 3px;
  }
  .logo {
    float: left;
  }
  nav {
    display: none;
  }

  .deep_left {
    position: absolute;
    width: 40.48px;
    height: 20.24px;
    left: -10px;
    top: -30px;
  }

  .light_left {
    position: absolute;
    width: 80.67px;
    height: 29.44px;
    left: -45px;
    top: -50px;
  }

  .deep_right {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 250px;
    top: -50px;
  }

  .light_right {
    position: absolute;
    width: 120px;
    height: 47px;
    left: 200px;
    top: -80px;
  }
  .bowl {
    position: absolute;
    width: 36.9px;
    height: 18.45px;
    left: 300.7px;
    top: 640.93px;
  }

  .hook {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 280.06px;
    top: 650.37px;
  }

  .bar,
  .ball {
    display: none;
  }
  .roll_ball {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 165px;
    top: 749px;
  }

  .roll_bar {
    position: absolute;
    width: 121.41px;
    height: 48.87px;
    left: 90.44px;
    top: 750px;
  }
}
